<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <button class="btn btn-outline-info ml-2" (click)="getAllProduct()">
      ALL
    </button>
  </ul>
  <ul class="navbar navbar-nav">
    <button class="btn btn-outline-info ml-2" (click)="getSelectedProducts()">
      Selected
    </button>
  </ul>
  <ul class="navbar navbar-nav">
    <button class="btn btn-outline-info ml-2" (click)="getAvailableProduct()">
      Available
    </button>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #f="ngForm" class="form-inline" (ngSubmit)="onSearch(f.value)">
        <input type="text" class="form_check-input" ngModel name="keyword" />
        <button class="btn btn-info btn-sm">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </li>
  </ul>
</nav>
